{% extends "base.html" %}
{% block content %}
    <a href="{% url 'leads:lead-list' %}">Go back</a>
    <a href="{% url 'leads:lead-create' %}">Create a Lead |</a>
    <a href="{% url 'leads:lead-update' lead.pk %}">Update a Lead |</a>
    <a href="{% url 'leads:lead-delete' lead.pk %}">Delete the Lead</a>
    <hr>
    <h1>{{ lead }}'s page. </h1>
    <div class="lead-detail">
        First name: {{ lead.first_name }}<br>
        Last name: {{ lead.last_name }}<br>
        Lead age: {{ lead.age }}<br>
        Lead agent: {{ lead.agent }}<br>
    </div>
{% endblock content %}